[main]
debug = false
host = 0.0.0.0
port = 5000

[bot_bot1]
chatid = -111111111
token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[bot_bot2]
chatid = -222222222
token = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[user_user1]
token = this-is-very-secret-token
bots = bot1,bot2

[user_user2]
token = this-is-also-very-secret-token
bots = bot1